<?xml version="1.0" encoding="utf-8"?>
<settings>
  <!--数据库地址-->
  <add key="Host" value="localhost"/>
  <!--数据库端口号-->
  <add key="Port" value="1521"/>
  <!--数据库用户名-->
  <add key="User" value="hsemr"/>
  <!--用户名密码-->
  <add key="PassWord" value="hsemr"/>
  <!--数据库实例名-->
  <add key="DataSource" value="his"/>
  <!--最小连接池-->
  <add key="MinPoolSize" value="50"/>   
  <!--最大连接池-->
  <add key="MaxPoolSize" value="200"/>
  <!--每次自动减少个数-->
  <add key="DecrPoolSize" value="1"/>
  <!--每次自动增加个数，增加到最大值将截止-->
  <add key="IncrPoolSize" value="5"/>
  <!--超时时间,默认为0表示不超时-->
  <add key="ConnectTimeout" value="1000"/>
   <!--验证连接，默认不验证-->
  <add key="ValidateConnection" value="false"/>
</settings>