<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <properties>
	  <property  resource="DataBase.config"/>
  </properties>
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting useReflectionOptimizer="false"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="false"/>
  </settings>
  <providers resource="Provider.config"/>
  <!-- Database connection information -->
  <database>
    <!--<provider name="oracleClient4.0"/>    
    <dataSource name="HIS" connectionString="Data Source=${DataSource};user=${User};password=${PassWord};"/>-->
    <provider name="ODP.NET Core"/>
    <dataSource name="HIS" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=${Host})(PORT=${Port}))(CONNECT_DATA=(SERVICE_NAME=${DataSource})));Persist Security Info=True; User ID=${User};Password=${PassWord};Pooling=true; Min Pool Size=${MinPoolSize}; Max Pool Size=${MaxPoolSize}; Decr Pool Size=${DecrPoolSize};Incr Pool Size=${IncrPoolSize}; Connect Timeout=${ConnectTimeout};Validate Connection=${ValidateConnection}"/>
  </database>
  <alias>
		<!--arraylist 代表预加载的系统类型 System.Collections.ArrayList,System.Runtime-->
    <typeAlias alias="ArrayList" type="arraylist"/>
  </alias>
  <!--<typeHandlers>
    <typeHandler type="" dbType="" callback="" />
  </typeHandlers>-->
  <sqlMaps>
      <sqlMap embedded="Mappers.Xml.Element.xml,Mappers"/> 
  </sqlMaps>
</sqlMapConfig>